.coins {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 0 5px 0;

  &-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellow;
  }
}