@use "../../Styles/variables";

.info {
  position: absolute;
  background-color: var(--c-white);
  box-shadow: 0 0 15px 1px var(--c-black);
  border-radius: 20px;
  padding: 10px;
  color: var(--c-black);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.hidden {
    display: none;
  }

  &__text {
    display: grid;
    gap: 10px;
    text-align: center;
    margin: 0 0 20px 0;

    &-title {
      font-size: 32px;
    }

    &-subtitle {
      font-size: 30px;
      line-height: 34px;
    }
  }

  &__btn {
    display: block;
    margin: 0 auto;
    background-color: var(--c-green);
    font-size: 28px;

    &:hover {
      background-color: var(--c-green-black);
    }
  }
}