@use "../../Styles/variables" as *;
@use '../../Styles/mixins' as *;

.info-demo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
  
  width: 100%;
  max-width: 450px;
  background-color: var(--c-white);
  box-shadow: 0 0 15px 1px var(--c-black);
  border-radius: 20px;
  padding: 20px;
  
  &__text {
    font-size: 24px;
    text-align: center;

    @include vp-1023 {
      font-size: 20px;
    }

    @include vp-767 {
      font-size: 16px;
    }
  }
}