.footer {
  &__title {
    font-size: 32px;
  }

  &__skill {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-title {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: space-between;
    }

    &-list {
      display: flex;
      justify-content: center;
      gap: 40px;
      border: 1px solid black;
      padding: 20px;
      border-radius: 10px;
    }

    &-btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 24px;
      padding: 30px;
      height: 100%;

      &.attack {
        background-color: rgba(225, 127, 80, 0.2);
        border: 2px solid coral;

        &:hover,
        &:focus-visible {
          background-color: coral;
        }

        &--max {
          background-color: rgb(148, 72, 45);
          border: 2px solid rgb(148, 72, 45);
          pointer-events: none;
          user-select: none;
          color: gray;
        }
      }

      &.crit {
        background-color: rgb(225, 0, 0, 0.2);
        border: 2px solid red;

        &:hover,
        &:focus-visible {
          background-color: red;
        }

        &--max {
          background-color: rgb(68, 17, 17);
          border: 2px solid rgb(68, 17, 17);
          pointer-events: none;
          user-select: none;
          color: gray;
        }
      }

      &.none {
        background-color: rgba(0, 128, 0, 0.2);
        border: 2px solid green;

        &:hover,
        &:focus-visible {
          background-color: green;
        }

        &--max {
          background-color: forestgreen;
          border: 2px solid forestgreen;
          pointer-events: none;
          user-select: none;
          color: gray;
        }
      }

      &.money {
        background-color: rgba(225, 215, 0, 0.2);
        border: 2px solid gold;

        &:hover,
        &:focus-visible {
          background-color: gold;
        }

        &--max {
          background-color: goldenrod;
          border: 2px solid goldenrod;
          pointer-events: none;
          user-select: none;
          color: gray;
        }
      }

    }
  }
}
