.footer {
  &__title {
    font-size: 32px;
  }

  &__skill {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-list {
      display: flex;
      justify-content: center;
      gap: 40px;
      border: 1px solid black;
      padding: 20px;
      border-radius: 10px;
    }

    &-btn {
      font-size: 24px;
      padding: 30px;

      &.attack {
        background-color: rgba(225, 127, 80, 0.2);
        border: 2px solid coral;

        &:hover,
        &:focus-visible {
          background-color: coral;
        }
      }

      &.crit {
        background-color: rgb(225, 0, 0, 0.2);
        border: 2px solid red;

        &:hover,
        &:focus-visible {
          background-color: red;
        }
      }

      &.money {
        background-color: rgba(225, 215, 0, 0.2);
        border: 2px solid gold;

        &:hover,
        &:focus-visible {
          background-color: gold;
        }
      }

      &.none {
        background-color: rgba(0, 128, 0, 0.2);
        border: 2px solid green;

        &:hover,
        &:focus-visible {
          background-color: green;
        }
      }
    }
  }
}
