@use "../../Styles/variables";

.footer {
  &__title {
    font-size: 32px;
  }

  &__skill {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-title {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: space-between;
    }

    &-list {
      display: flex;
      justify-content: center;
      gap: 40px;
      border: 1px solid var(--c-black);
      padding: 20px;
      border-radius: 10px;
    }

    &-btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 24px;
      padding: 30px;
      height: 100%;

      &.attack {
        background-color: var(--c-coral-black);
        border: 2px solid var(--c-coral);

        &:hover,
        &:focus-visible {
          background-color: var(--c-coral);
        }

        &--max {
          background-color: var(--c-coral-max);
          border: 2px solid var(--c-coral-max);
          pointer-events: none;
          user-select: none;
          color: var(--c-gray);
        }
      }

      &.crit {
        background-color: var(--c-red-black);
        border: 2px solid var(--c-red);

        &:hover,
        &:focus-visible {
          background-color: var(--c-red);
        }

        &--max {
          background-color: var(--c-red-max);
          border: 2px solid var(--c-red-max);
          pointer-events: none;
          user-select: none;
          color: var(--c-gray);
        }
      }

      &.crit-damage {
        background-color: var(--c-green-black);
        border: 2px solid var(--c-green);

        &:hover,
        &:focus-visible {
          background-color: var(--c-green);
        }

        &--max {
          background-color: var(--c-green-max);
          border: 2px solid var(--c-green-max);
          pointer-events: none;
          user-select: none;
          color: var(--c-gray);
        }
      }

      &.money {
        background-color: var(--c-gold-black);
        border: 2px solid var(--c-gold);

        &:hover,
        &:focus-visible {
          background-color: var(--c-gold);
        }

        &--max {
          background-color: var(--c-gold-max);
          border: 2px solid var(--c-gold-max);
          pointer-events: none;
          user-select: none;
          color: var(--c-gray);
        }
      }

    }
  }
}
