@use "../../Styles/variables";

.status {
  position: absolute;
  top: 30%;
  right: 200px;
  transform: translateY(-50%);

  &__list {
    border: 1px solid var(--c-black);
    border-radius: 10px;
    overflow: hidden;
  }

  &__item {
    display: flex;
    gap: 5px;
    padding: 10px;
    
    &:not(:last-child) {
      border-bottom: 1px solid var(--c-black);
    }
  }
}