@use "../../Styles/variables" as *;
@use "../../Styles/mixins" as *;

.status {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    justify-content: center;

    @include vp-767 {
      flex-direction: column;
      overflow: hidden;
      border: 1px solid var(--c-black);
    }
  }

  &__item {
    display: flex;
    gap: 5px;
    padding: 10px;
    border: 1px solid var(--c-black);

    @include vp-767 {
      border: none;
    }
    
    &:not(:last-child) {
      border-bottom: 1px solid var(--c-black);
    }
  }
}