@use "../../Styles/variables";

.monster {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  margin: 0 0 50px 0;
  padding: 50px 0 0 0;

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    gap: 20px;
    border: 1px solid var(--c-black);
    padding: 20px;
    border-radius: 10px;
  }

  &-damage {
    position: absolute;
    opacity: 0;
    animation: hit-shake 0.9s;
    font-size: 24px;
    font-weight: 600;

    &.damage {
      color: var(--c-coral);
      animation: damage 0.5s ease;
    }

    &.crit-damage {
      font-size: 32px;
      color: var(--c-red);
      animation: damage 0.5s ease;
    }
  }
}

.monster-enemy {
  width: 180px;
  height: 180px;
  border-radius: 20px;
}

.health-bar {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background-color: var(--c-white);
  border: 1px solid var(--c-black);
  position: relative;
}

.health-bar__number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.health-bar__fill {
  width: 100%;
  height: 100%;
  background-color: var(--c-red);
  border-radius: 5px 0 0 5px;
  transition: width 0.3s ease;
}

.btn-hidden {
  display: none;
}

.btn {
  width: 100%;
  background-color: var(--c-red);

  &--admin-kill,
  &--admin-money {
    position: absolute;
  }

  &--admin-kill {
    background-color: var(--c-black);
    right: 20px;
  }

  &--admin-money {
    background-color: var(--c-yellow);
    right: 20px;
    top: 40px;
  }
}

.btn-restart {
  display: block;
  background-color: var(--c-green);
}

@keyframes hit-shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes damage {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-50px);
  }
}
