.monster {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;

  &-damage {
    position: absolute;
    top: -10%;
    opacity: 0;
    animation: hit-shake 0.9s;
    font-size: 24px;
    font-weight: 600;

    &.damage {
      color: coral;
      animation: damage 0.3s ease;
    }

    &.crit-damage {
      font-size: 28px;
      color: red;
      animation: damage 0.3s ease;
    }
  }
}

.monster-enemy {
  width: 180px;
  height: 180px;
  border-radius: 20px;
}

.monster-enemy-dead {
  background-color: gray;
}

.monster-enemy-box {
  display: none;
}

.monster-enemy-winner {
  display: block;
  font-size: 32px;
  font-weight: 800;
  color: #f2fe05;
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
}

.health-bar {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #000;
  position: relative;
}

.health-bar__number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.health-bar__fill {
  max-width: 300px;
  height: 100%;
  background-color: red;
  border-radius: 5px 0 0 5px;
  transition: width 0.3s ease;
}

.btn-hidden {
  display: none;
}

.btn {
  margin-top: 30px;
  width: 220px;
  background-color: red;
}

.btn-restart {
  display: block;
  background-color: green;
}

@keyframes hit-shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes damage {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-35px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
