@use "../../Styles/variables" as *;
@use "../../Styles/mixins" as *;

.final-boss {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__title {
    font-size: 52px;
    font-weight: 600;
    margin: 0 0 100px 0;
    color: var(--c-black);
  }

  &__enemy {
    width: 250px;
    height: 250px;
    background-color: red;
  }

  &__regen {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--c-black);
  }

  &__fill {
    width: 100%;
    height: 100%;
    background-color: var(--c-green);
    animation: fill 7s linear infinite;
  }

  &__hp-regen {
    color: var(--c-green);
    font-size: 22px;
    font-weight: 600;
    opacity: 0;

    &.hidden {
      animation: hidden 1s linear forwards;
    }
  }

  &__btn {
    background-color: red;
    font-size: 24px;

    &:hover,
    &:focus-visible {
      box-shadow: 0 0 10px 1px var(--c-red);
      transform: scale(1.02);
    }
  }

  // Status
  &__status {
    margin: 100px auto;
  }

  &__list {
    display: flex;
    flex-direction: column;

    @include vp-767 {
      flex-direction: column;
      overflow: hidden;
      border: 1px solid var(--c-black);
    }
  }

  &__item {
    display: flex;
    gap: 5px;
    padding: 20px;
    border: 1px solid var(--c-black);

    @include vp-767 {
      border: none;
    }
    
    &:not(:last-child) {
      border-bottom: 1px solid var(--c-black);
    }

    &-name,
    &-info {
      font-size: 18px;
    }
  }
}

@keyframes fill {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes hidden {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    transform: translateY(-0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
