.final-boss {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__title {
    font-size: 52px;
    font-weight: 600;
    margin: 0 0 100px 0;
    color: var(--c-black);
  }

  &__enemy {
    width: 250px;
    height: 250px;
    background-color: red;
  }

  &__btn {
    background-color: red;
    font-size: 24px;

    &:hover,
    &:focus-visible {
      box-shadow: 0 0 10px 1px var(--c-red);
      transform: scale(1.02);
    }
  }
}