@use "./variables" as *;

@mixin vp-1023 {
  @media (max-width: $vp-tablet) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: $vp-mobile) {
    @content;
  }
}

@mixin vp-360 {
  @media (max-width: $vp-mobile) {
    @content;
  }
}