:root {
  // Colors
  --c-white: #ffffff;
  --c-black: #000000;
  --c-gray: gray;

  --c-coral: coral;
  --c-coral-black: rgba(225, 127, 80, 0.2);
  --c-coral-max: rgb(148, 72, 45);

  --c-red: #ff0000;
  --c-red-black: rgb(225, 0, 0, 0.2);
  --c-red-max: rgb(68, 17, 17);

  --c-green: green;
  --c-green-black: rgba(0, 128, 0, 0.2);
  --c-green-max: forestgreen;

  --c-gold: gold;
  --c-gold-black: rgba(225, 215, 0, 0.2);
  --c-gold-max: goldenrod;

  // Typography
  --ff-main: "PTSans", "Arial", sans-serif;
  --ff-secondary: "Arsenal", "Arial", sans-serif;
}

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;
$vp-mobile360: 360px;