body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all .2s linear;
}

// .active {
//   background-color: green;
//   box-shadow: 0 0 10px green;
// }

// .active:hover {
//   background-color: rgb(17, 103, 17);
// }

.wrapper {
  background-color: aliceblue;
  padding: 10px 30px;
  border-radius: 15px;
  transition: all .2s linear;
}

.active-bg {
  padding: 20px 60px;
  background-color: lightgreen;
  box-shadow: 0 0 15px lightgreen;
  transition: all .2s linear;
}